---
const pageTitle ="Home";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Home">
	<h2>My awesome Blog subtitle</h2>
</BaseLayout>
